/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: #FF9A4B;
}

.main {
    width: 960px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.article {
    width: 300px;
    position: relative;
    background-color: #EEEEEE;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.article-step {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF9A4B;
    color: #FFF;
}

.article-img {
    margin: 0 auto;
    height: 150px;
    width: 280px;
    background-image: url("img/flow01.png");
    background-size: cover;
    background-position: bottom;
}

.img2 {
    background-image: url("img/flow02.png");
}

.img3 {
    background-image: url("img/flow03.png");
}

.article-text {
    margin-top: 15px;
}

.article-text-title {
    margin-bottom: 5px;
}

.article-text-content {
    line-height: 1.6;
    font-size: 12px;
}

footer {
    height: 50px;
    background-color: #AAAAAA;
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        display: block;
    }

    .article {
        width: 90%;
        margin: 50px auto;
    }

    .article1{
        margin-bottom: 0px;
    }

    .article2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .article3 {
        margin-top: 0px;
    }

    .article-img{
        width: 100%
    }

    
}